body {
  background: linear-gradient(to right, #ffffff, #3498db);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Helvetica', sans-serif;
  color: #333;
  /* Choose an appropriate text color for readability */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.certificate {
  text-align: center;
}

.certificate img {
  max-width: 60%;
  height: 50%;
  border: 2px solid #000;
}

body {
  margin: 0;
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
}

.top-left-image {
  position: absolute;
  /* Set the position property to absolute */
  top: 0;
  /* Set the distance from the top edge to 0 */
  left: 0;
  /* Set the distance from the left edge to 0 */
  height: 8%;
  width: 4%;
}