{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/aa.css' %}" />

    <title>Pinesphere: Digital Solutions, IT Services & Consulting</title>
    <img src="{% static 'image/ps.jpg' %}" width="50" height="50" />
    <h2>Pinesphere: Digital Solutions, IT Services & Consulting</h2>
  </head>
  <body>
    <main>
      <div>
        <h2>Detail</h2>
        <p>
          With our extensive expertise and cutting-edge practices, we are
          equipped to offer optimal solutions to meet the diverse needs of our
          clients.
        </p>
      </div>
      <div>
        <h2>We Have</h2>
        <p>Solutions, Services, Products, Internship</p>
      </div>

      <div>
        <h2>Opening Hours:</h2>
        <p>9:00 AM – 6:00 PM</p>
      </div>

      <div class="contact-info">
        <h2>Contact Info</h2>
        <p>
          No.22, Kalapatti Main Rd,<br />
          Thiruvannamalai Nagar,<br />
          Saravanampatty,<br />
          Coimbatore.
        </p>

        <p>
          Phone:<br />
          +91 8903704121<br />
          +91 9843406178<br />
          +91 9994434264
        </p>
      </div>
      <div>
        <h2><center>Join With Us Hope For Good Future</center></h2>
      </div>
    </main>
  </body>
</html>
