{% load static %}

<!DOCTYPE html>
<html lang="en">
  <a href="{% url 'dashboard' %}"
    ><img
      class="top-left-image"
      src="{% static 'image/ps.jpg' %}"
      alt="Your Image"
    />
  </a>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certificate</title>
    <link rel="stylesheet" href="{% static 'css/certificate-template.css' %}" />
  </head>
  <body>
    <video autoplay loop muted plays-inline class="background-video">
      <source src="{% static 'img/bgvideo.mp4' %}" type="video/mp4" />
    </video>

    <div class="certificate">
      <img

        src="{% static 'certificates/' %}{{ name }}_img.png"

        src="{% static 'image/certificate.jpg' %}"

        alt="Certificate of Achievement"
      />
    </div>
  </body>
</html>
