{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <a href="{% url 'dashboard' %}"
      ><img
        class="top-left-image"
        src="{% static 'image/ps.jpg' %}"
        alt="Your Image"
      />
    </a>
    <title>Semster Subjects</title>
    <link rel="stylesheet" href="{% static 'css/table.css' %}" />
  </head>
  <body>
    <video autoplay loop muted plays-inline class="background-video">
      <source src="{% static 'image/bgvideo.mp4' %}" type="video/mp4" />
    </video>
    <center>
      <caption style="font-weight: bold">

        

        Student DataBase

      </caption>
    </center>

    <table border="1">
      <tr>
        <th>student Name</th>
        <th>Course Name</th>

        <th>Duration</th>
        <th>Mail ID</th>
        <th></th>
      </tr>
      {%for item in list %}
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.course}}</td>
        <td>{{item.duration}}</td>
        <td>{{item.email}}</td>
        <td><a href="{% url 'certificate' %}" class="button">Click To Generate</a></td>
      </tr>
      {%endfor%}

        <th>Start Date</th>
        <th>Duration</th>
        <th></th>
      </tr>

      <tr>
        <td>Krupahari.B.L</td>
        <td>Web technology</td>
        <td>01/02/2024</td>
        <td>3 weeks</td>
        <td><a href="#" class="button">Click To Generate</a></td>
      </tr>

      <tr>
        <td>Gokulan</td>
        <td>Java</td>
        <td>01/01/2024</td>
        <td>2 weeks</td>
        <td><a href="#" class="button"> Click To Generate </a></td>
      </tr>
      <tr>
        <td>Vasudevan</td>
        <td>Full Stack</td>
        <td>20/01/2024</td>
        <td>4 weeks</td>
        <td><a href="#" class="button"> Click To Generate </a></td>
      </tr>

      <tr>
        <td>Dinesh.M</td>
        <td>Python</td>
        <td>25/01/2024</td>
        <td>2 weeks</td>
        <td><a href="#" class="button"> Click To Generate </a></td>
      </tr>

      <tr>
        <td>Charankumar.E</td>
        <td>Big Data Computing</td>
        <td>01/02/2024</td>
        <td>3 weeks</td>
        <td><a href="#" class="button"> Click To Generate </a></td>
      </tr>

      <tr>
        <td>Goushik Raja.R</td>
        <td>C/C++</td>
        <td>02/02/2024</td>
        <td>3 weeks</td>
        <td><a href="#" class="button"> Click To Generate </a></td>
      </tr>

      <tr>
        <td>Aadhiran.K</td>
        <td>Web technology</td>
        <td>09/01/2024</td>
        <td>4 weeks</td>
        <td><a href="#" class="button">Click To Generate </a></td>
      </tr>

    </table>
  </body>
</html>
