{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
	<img src="{% static 'image/ps.jpg' %}" class="w3-circle w3-margin-right" style="width:46px">
    <link rel="stylesheet" href="{% static 'css/cp.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="{% static 'image/form2.jpg' %}" alt="">
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title"><b>Create your certificate</b></div>
          <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Enter your name" required>
              </div>
			  
              <div class="input-box">
			  <i class="fas fa-calendar"></i><br>
			  
			  <input type="date" placeholder="enter start date" required>
			 
			 </div> 
			 
			 <div class="input-box">
			  <i class="fas fa-calendar"></i>
			  <input type="date" placeholder="enter end date" required>
			 </div> 
			 
              <div class="input-box">
                <i class="fas fa-briefcase"></i>
                <input type="text" placeholder="Enter the course" required>
              </div>
			  
			   <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Enter the mail" required>
              </div>
			 
			  <div class="input-box">
			 <i class="fas fa-certificate"></i> 
			 <input type="cp" placeholder="Choose Template" required >
	
 
                  <select id="cp">
                     <option value="volvo">A</option>
                     <option value="saab">B</option>
                     <option value="opel">C</option>
                 </select>
               </div>
  
             
              <div class="button input-box">
                <input type="submit" value="Sumbit">
                <input type="submit" value="Cancel">
              </div>
        </form>
</body>
</html>
